<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Wishlist</title>
    <link rel="stylesheet" href="../CssFiles/wish/gifts-style.css">
    <link rel="stylesheet" href="../CssFiles/home/nav-style.css">
    <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">Wishing Cloud</a></div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/inspiration">Inspiration</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="register-li"><a href="/register">Register</a></li>
                <li class="login-li"><a href="/login">Login</a></li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <label>
                <input type="text" placeholder="Type Something to Search..." required>
            </label>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>
<button onclick="history.back()" class="backButton">Back</button>
<br><br>
<div class="createNewGift">
    <form method="POST" action="/gifts/newGift">
        <h1>Create a wish:</h1>
        <label for="name">Item Name: </label><br>
        <input type="text" name="name" id="name" required placeholder="Product"/><span class="required"></span><br>
        <label for="price">Price: </label><br>
        <input type="number" name="price" id="price" required placeholder="Price"><br>
        <label for="url">Url: </label><br>
        <input type="text" name="url" id="url" required placeholder="url"><br><br>
        <input type="submit">
        <input type="hidden" name="newListID" th:value="${newListID}">
    </form>
</div>

<br><br>
<div class="giftlists">
    <table id="lists">
        <tr th:each="gift: ${gifts}">
            <td th:text="${gift.giftName}"></td>
            <td>
                <form method="POST" action="/gifts/deleteGift">
                    <input type="hidden" name="giftID" th:value="${gift.giftID}">
                    <input type="hidden" name="newListID" th:value="${newListID}">
                    <input type="submit" value="Delete">
                </form>
                <a th:href="'/shareGifts?listID=' + ${newListID}" class="shareLink">Share:</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>