<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../CssFiles/wish/giftList-style.css">
    <link rel="stylesheet" href="../CssFiles/home/nav-style.css">
    <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">Wishing Cloud</a></div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/inspiration">Inspiration</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="register-li"><a href="/register">Register</a></li>
                <li class="login-li"><a href="/login">Login</a></li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <label>
                <input type="text" placeholder="Type Something to Search..." required>
            </label>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>
<form method="post" action="/giftList/newWishlist">
    <label for="listName">Create a new wish: </label><br>
    <input type="text" name="listName" id="listName" required placeholder="Name"/> <br>
    <input type="submit">
    <input type="hidden" name="email" th:value="${email}">
</form>
<p>If you want to add products to the wishlist, click edit.</p>
<button onclick="history.back()" class="backButton">Back</button>
<br><br>
<table>
    <tr>Wishlists:</tr>
    <tr th:each="giftlist: ${giftLists}">

        <td th:text="${giftlist.listName}"></td>
        <td>
            <form method="POST" action="/giftList/editList">
                <input type="submit" value="Edit">
                <input type="hidden" name="listID" th:value="${giftlist.listID}">
            </form>
        </td>
        <td>
            <form method="POST" action="/giftList/deleteWishlist">
                <input type="submit" value="Delete">
                <input type="hidden" name="listID" th:value="${giftlist.listID}">
                <input type="hidden" name="email" th:value="${email}">
            </form>
        </td>
    </tr>
</table>
</body>
</html>