body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('../../Images/be-inspired-inside.jpeg');

    /* Full height */
    height: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url('../../Images/cloud.png');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('../../Images/pexels-eberhard-grossgasteiger-844297.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url('../../Images/gift1.jpeg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax5 {
    /* The image used */
    background-image: url('../../Images/gift2.jpeg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo2 {
    max-height: 100%;
    max-width: 100%;
    width: 163px;
    height: 163px;
    background: url('../../Images/cloud2.jpeg') no-repeat scroll center center transparent;
    background-size: cover;
    float: left;
    position: absolute;
    top: 45%;
    left: 40%;
}

.a {
    text-align: center;
}
.b {
    text-align: center;
}