.container-text{
    position: sticky;
    width: 100%;
    padding: 20vh;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    .container-text {
        padding: 0 10px;
    }
    .container-text {
        font-size: 14px;
    }
}
h1 {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 1rem;
}
input, select, textarea {
    padding: 1.4rem;
    background: transparent;
    border: 1px solid black;
}
textarea {
    height: 6rem;
}
button {
    width: 8rem;
    padding: 1.4rem;
    cursor: pointer;
    background: #673de6;
    color: white;
}