

button {

    width: 100px;
    margin: 100px;
}


.backButton {
    top: 10px;
}

.createNewGift {
    box-sizing: border-box;
    border-radius: 30px;
    text-align: left;
    width: 50%;
    margin: auto;
    padding: 30px;
}

.shareLink {
    position: absolute;
}

.giftlists {
    margin: auto;
    width: 50%;
    border-radius: 5px;
}

#lists {
    width: 100%;
}
