.container-text{
    position: sticky;
    width: 100%;
    padding: 20vh;
    height: 100vh;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container-text {
        padding: 0 10px;
    }
    .container-text {
        font-size: 14px;
    }
}

form {
    padding: 150px;
}
