<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet" href="../CssFiles/user/login-style.css">
  <link rel="stylesheet" href="../CssFiles/home/nav-style.css">
  <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a href="/">Wishing Cloud</a></div>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/inspiration">Inspiration</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="register-li"><a href="/register">Register</a></li>
        <li class="login-li"><a href="/login">Login</a></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
    <form action="#" class="search-box">
      <label>
        <input type="text" placeholder="Type Something to Search..." required>
      </label>
      <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
    </form>
  </nav>
</div>

  <div class="hero-image1">
  </div>
  <div class="hero-text">
    <form method="GET" action="/createWish">
      <h3>Login</h3>
      <label for="email">Email</label><br>
      <input type="text" name="email" id="email" pattern=".*[@]+.*" required placeholder="E-mail"/><br><br>
      <input type="submit">
    </form>
  </div>

</body>
</html>