<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
  <link rel="stylesheet" href="../CssFiles/contact-css.css">
  <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a href="/">Wishing Cloud</a></div>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="/inspiration" class="desktop-link">Inspiration</a>
          <input type="checkbox" id="show-Inspiration">
          <label for="show-Inspiration">Inspiration</label>
          <ul>
            <li><a href="#">Brands</a></li>
            <li><a href="#">WishingPost</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Giftcard</a></li>
          </ul>
        </li>
        <li>
          <a href="/help" class="desktop-link">Help</a>
          <input type="checkbox" id="show-help">
          <label for="show-help">Help</label>
          <ul>
            <li><a href="#">How to use Wishing Cloud</a></li>
            <li><a href="#">Share a wish</a></li>
            <li><a href="#">Reserve a wish</a></li>

          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
        <li class="register-li"><a href="/register">Register</a></li>
        <li class="login-li"><a href="/login">Login</a></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
    <form action="#" class="search-box">
      <input type="text" placeholder="Type Something to Search..." required>
      <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
    </form>
  </nav>

</div>
  <div class="hero-image1">
  </div>


  <div class="hero-text-contact">
    <h1>This is Databois</h1>
    <p>2. semester 2022.</p>
    <p>Full-Stack HTML & CSS project</p>
    <h2 style="text-align:center">The Team</h2>

      <div class="column">
        <div class="card">
          <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="Ebubekir" style="width:100%">
          <div class="container-contact">
            <h2 class="contact-text">Ebubekir Kayhan</h2>
            <p class="title">Databoi 1</p>
            <p class="contact-text">Some text that describes me lorem ipsum ipsum lorem.</p>
            <p class="contact-text">ebub0036@stud.kea.dk</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

    <div class="column">
      <div class="card">
        <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="Mark" style="width:100%">
        <div class="container-contact">
          <h2 class="contact-text">Mark Bjørk Ziegler</h2>
          <p class="title">Databoi 2</p>
          <p class="contact-text">Some text that describes me lorem ipsum ipsum lorem.</p>
          <p class="contact-text">mark893b@stud.kea.dk</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="Malik" style="width:100%">
        <div class="container-contact">
          <h2 class="contact-text">Malik Kütük</h2>
          <p class="title">Databoi 3</p>
          <p class="contact-text">Some text that describes me lorem ipsum ipsum lorem.</p>
          <p class="contact-text">mali0237@stud.kea.dk</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
</div>
</div>
</div>
</body>
</html>