<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishing cloud</title>
    <link rel="stylesheet" href="../CssFiles/homepage.css">
</head>
<body>

<div class="NavBar">
    <ul class="topnav">
        <li><a class="active" href="../">Home</a></li>
        <li><a href="../inspiration">Inspiration</a></li>
        <li><a href="../register">Register</a></li>
        <li><a href="../about">About</a></li>
    </ul>
</div>
<h1>Wishing cloud</h1>

<div class="a">
    <h1>WELCOME TO THE WISH PORTAL</h1>
    <p>SAVE AND SHARE ALL YOUR WISHES</p>
    <p>MORE THAN 2.5 MILLION WISH CLOUDS</p>
    <p>HOW THE WISH CLOUD WORKS</p>


</div>


</body>
</html>