<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishing cloud</title>
    <link rel="stylesheet" href="../static/CssFiles/homepage.css">
</head>
<body>

<div class="NavBar">
    <ul class="topnav">
        <li><a class="active" href="../">Home</a></li>
        <li><a href="../inspiration">Inspiration</a></li>
        <li><a href="../register">Register</a></li>
        <li><a href="../about">About</a></li>
    </ul>
</div>

<div class="logo1">
</div>

<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">Wishing cloud</h1>
        <h3>This is a wishing portal</h3>
        <button>Start her</button>
    </div>
</div>

<div class="Centered-text">
    <h1>WELCOME TO THE WISH PORTAL</h1>
    <p>SAVE AND SHARE ALL YOUR WISHES</p>
    <p>MORE THAN 2.5 MILLION WISH CLOUDS</p>
    <p>HOW THE WISH CLOUD WORKS</p>
</div>




</body>
</html>