<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inspiration</title>
    <link rel="stylesheet" href="../CssFiles/style2.css">
    <link rel="stylesheet" href="../CssFiles/navstyle.css">
    <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>

</head>
<style>
    h1 {text-align: center;}
    a {text-align: center;}
</style>

<body>
<div class="container">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">Wishing Cloud</a></div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>


                <li>
                    <a href="/inspiration" class="desktop-link">Inspiration</a>
                    <input type="checkbox" id="show-Inspiration">
                    <label for="show-Inspiration">Inspiration</label>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">WishingPost</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Giftcard</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/help" class="desktop-link">Help</a>
                    <input type="checkbox" id="show-help">
                    <label for="show-help">Help</label>
                    <ul>
                        <li><a href="#">How to use Wishing Cloud</a></li>
                        <li><a href="#">Share a wish</a></li>
                        <li><a href="#">Reserve a wish</a></li>

                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
                <li class="register-li"><a href="/register">Register</a></li>
                <li class="login-li"><a href="/login">Login</a></li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>


<div class="parallax"></div>
<div class="a">
    <div style="height:300px;background-color:#171a20;font-size:36px">
        <h1 style="color: white"> Inspirations for the perfect gift</h1><br>
        <a style="color:  white"href="https://www.idegryden.dk/">Perfect gifts for anyone</a><br>
        <a style="color: white" href="https://www.unisport.dk/">Large selection of electronics</a><br>
        <a style="color: white" href="https://www.amazon.com/Best-Sellers/zgbs">Bestsellers at good prices</a><br>
        <a style="color: white" href="https://www2.hm.com/da_dk/born/produkt/toej.html?gclid=EAIaIQobChMIuI2dj8b9-gIVhdKyCh0JHg5REAAYAyAAEgImffD_BwE">Dress the child for autumn</a><br>
    </div>
</div>


<div style="height:100%;background-color:white;font-size:50px">
<h1 style="color: #171a20"> Our beloved Brands</h1>

    <div class="b">

<a href="https://sportmaster.dk/">
    <img src="/Images/sportmaster-logo.png" alt="Sportmaste logo" style="width:400px;height:400px;"> <!-- 42px orginally -->
</a>

<a href="https://www.elgiganten.dk/">
    <img src="/Images/Elgiganten-logo-1-768x682.png" alt="Elgiganten logo" style="width:400px;height:400px;">
</a>

<a href="https://www.coolshop.dk/">
    <img src="/Images/coolshop-logo-768x682.png" alt="Coolshop logo" style="width:400px;height:400px;">
</a>

<a href="https://www.ditur.dk/">
    <img src="/Images/ditur-logo--768x682.png" alt="Ditur logo" style="width:400px;height:400px;">
</a>

<a href="https://www2.hm.com/da_dk/index.html">
    <img src="/Images/HM-logo-768x682.png" alt="H&M logo" style="width:400px;height:400px;">
</a>

<a href="https://www.imerco.dk/">
    <img src="/Images/Imerco-Logo-768x682.png" alt="Imerco logo" style="width:400px;height:400px;">
</a>

<a href="https://www.jdsports.dk/">
    <img src="/Images/JD-logo-768x682.png" alt="JD logo" style="width:400px;height:400px;">
</a>

<a href="https://www.matas.dk/">
    <img src="/Images/matas-logo--768x682.png" alt="Matas logo" style="width:400px;height:400px;">
</a>
        <a href="https://www.nike.com/dk/">
            <img src="/Images/8092e5bcaa8b1839.png" alt="Nike logo" style="width:400px;height:400px;">
        </a>
        <a href="https://7daysactive.com/">
            <img src="/Images/7daysactive_logo-1-768x682.png" alt="7DaysActive logo" style="width:400px;height:400px;">
        </a>
        <a href="https://jysk.dk/">
            <img src="/Images/jysk-logo--768x682.png" alt="Jysk logo" style="width:400px;height:400px;">
        </a>
        <a href="https://www.levi.com/DK/en/">
            <img src="/Images/levis-logo-768x682.png" alt="Levis logo" style="width:400px;height:400px;">
        </a>
        <a href="https://www.magasin.dk/">
            <img src="/Images/Magasin-Logo-768x682.png" alt="Magasin logo" style="width:400px;height:400px;">
        </a>
        <a href="https://www.power.dk/">
            <img src="/Images/power-logo-ny--768x682.png" alt="Power logo" style="width:400px;height:400px;">
        </a>
        <a href="https://www.swappie.dk/">
            <img src="/Images/Swappie-Logo.png" alt="Swappie logo" style="width:400px;height:400px;">
        </a>
        <a href="https://www.synoptik.dk/">
            <img src="/Images/synoptik-logo--768x682.png" alt="Synoptik logo" style="width:400px;height:400px;">
        </a>
        <a href="https://www.søsternegrene.dk/">
            <img src="/Images/Ssternegrne_logo.png" alt="Søsternegrene logo" style="width:400px;height:400px;">
        </a>


<div class="parallax2"></div>
    </div>

</div>
</body>
</html>