<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inspiration</title>
    <link rel="stylesheet" href="../CssFiles/style2.css">
    <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>

</head>

<body>
<div class="container">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">Wishing Cloud</a></div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>


                <li>
                    <a href="/inspiration" class="desktop-link">Inspiration</a>
                    <input type="checkbox" id="show-Inspiration">
                    <label for="show-Inspiration">Inspiration</label>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">WishingPost</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Giftcard</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/help" class="desktop-link">Help</a>
                    <input type="checkbox" id="show-help">
                    <label for="show-help">Help</label>
                    <ul>
                        <li><a href="#">How to use Wishing Cloud</a></li>
                        <li><a href="#">Share a wish</a></li>
                        <li><a href="#">Reserve a wish</a></li>

                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
                <li class="register-li"><a href="/register">Register</a></li>
                <li class="login-li"><a href="/login">Login</a></li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>
<div class="logo2">
    <h1 class="text2">Inspiration!</h1>
</div>
<div class="parallax"></div>

<div style="height:500px;background-color:#3b8cae;font-size:36px">
    <h1>Inspirations for the perfect gift</h1>
    <a href="https://www.idegryden.dk/">Perfect gifts for anyone</a><br>
    <a href="https://www.unisport.dk/">Large selection of electronics</a><br>
    <a href="https://www.magasin.dk/skoenhed/">Everything for your beauty routine</a><br>
    <a href="https://www.amazon.com/Best-Sellers/zgbs">Bestsellers at good prices</a><br>
    <a href="https://www2.hm.com/da_dk/born/produkt/toej.html?gclid=EAIaIQobChMIuI2dj8b9-gIVhdKyCh0JHg5REAAYAyAAEgImffD_BwE">Dress the child for autumn</a><br>
</div>

<div class="parallax"></div>


<h1>Our beloved Brands</h1>
<a href="https://sportmaster.dk/">
    <img src="/Images/sportmaster-logo.png" alt="Sportmaste logo" style="width:200px;height:200px;"> <!-- 42px orginally -->
</a>

<a href="https://www.elgiganten..dk/">
    <img src="/Images/Elgiganten-logo-1-768x682.png" alt="Elgiganten logo" style="width:200px;height:200px;">
</a>

<a href="https://www.coolshop.dk/">
    <img src="/Images/coolshop-logo-768x682.png" alt="Coolshop logo" style="width:200px;height:200px;">
</a>

<a href="https://www.ditur.dk/">
    <img src="/Images/ditur-logo--768x682.png" alt="Ditur logo" style="width:200px;height:200px;">
</a>

<a href="https://www2.hm.com.dk/">
    <img src="/Images/HM-logo-768x682.png" alt="H&M logo" style="width:200px;height:200px;">
</a>

<a href="https://www.imerco.dk/">
    <img src="/Images/Imerco-Logo-768x682.png" alt="Imerco logo" style="width:200px;height:200px;">
</a>

<a href="https://www.JD.dk/">
    <img src="/Images/JD-logo-768x682.png" alt="JD logo" style="width:200px;height:200px;">
</a>

<a href="https://www.matas.dk/">
    <img src="/Images/matas-logo--768x682.png" alt="Matas logo" style="width:200px;height:200px;">
</a>


<div class="parallax"></div>


</body>
</html>