<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="../CssFiles/contact-style.css">
  <link rel="stylesheet" href="../CssFiles/nav-style.css">
  <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a href="/">Wishing Cloud</a></div>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>

          <!-- Hvad gør linjen nedenunder -->
          <a href="/inspiration" class="desktop-link">Inspiration</a>
          <input type="checkbox" id="show-Inspiration">
          <label for="show-Inspiration">Inspiration</label>
          <ul>
            <li><a href="#">Brands</a></li>
            <li><a href="#">WishingPost</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Giftcard</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="desktop-link">Help</a>
          <input type="checkbox" id="show-help">
          <label for="show-help">Help</label>
          <ul>
            <li><a href="#">How to use Wishing Cloud</a></li>
            <li><a href="#">Share a wish</a></li>
            <li><a href="#">Reserve a wish</a></li>

          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
        <li class="register-li"><a href="/register">Register</a></li>
        <li class="login-li"><a href="/login">Login</a></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
    <form action="#" class="search-box">
      <input type="text" placeholder="Type Something to Search..." required>
      <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
    </form>
  </nav>
</div>
<div class="container-text">
  <h1>Contact Form</h1>
  <form action="https://formsubmit.co/kutuk-malik2635@live.dk" method="POST">
    <label>
      <input type="text" name="Name" placeholder="Full Name" required>
    </label>
    <label>
      <input type="email" name="Email" placeholder="Email" required>
    </label>
    <label>
      <select name="Continent">
        <option>Africa</option>
        <option>Antarctica</option>
        <option>Asia</option>
        <option>Australia</option>
        <option>Europe</option>
        <option>North America</option>
        <option>South America</option>
      </select>
    </label>
    <label>
      <textarea name="Message" placeholder="Message" required> </textarea>
    </label>
    <button type="submit">Send</button>
    <input type="hidden" name="_autoresponse" value="Thank you! We will contact you as soon as possible!">
  </form>
</div>
</body>
</html>
