<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Wishing Cloud</title>
    <link rel="stylesheet" href="../CssFiles/home/style.css">
    <link rel="stylesheet" href="../CssFiles/home/nav-style.css">
    <link rel="stylesheet" href="../CssFiles/home/style2.css">
    <link rel="stylesheet" href="../CssFiles/home/index.css">
    <script src="https://kit.fontawesome.com/221f89293e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">Wishing Cloud</a></div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/inspiration">Inspiration</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="register-li"><a href="/register">Register</a></li>
                <li class="login-li"><a href="/login">Login</a></li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <label>
                <input type="text" placeholder="Type Something to Search..." required>
            </label>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>
<div class="parallax3">
    <div class="container-text">
    <h1 style="font-size:70px">SAVE AND SHARE ALL YOUR WISHES</h1>
    </div>
</div>

<div class="parallax4">
    <div class="container-text2">
        <h1 style="font-size:70px">SAVE AND SHARE ALL YOUR WISHES</h1> <br>

        <h1 style="font-size: 35px"> The Wishing Cloud makes it easy for you to save and share all </h1> <br>
        <h1 style="font-size: 35px"> your wishes with friends and family</h1> <br>
        <a href="/login">
        <button style="font-size: 100px"> Start here</button>
        </a>

</div>

    <div class="parallax5">
        <div class="container-text3">
            <h1 style="font-size: 70px"> The Wishing Cloud is a new place where you can create your wishes.</h1> <br>
            <h1 style="font-size: 35px">Our goal is to make it easier to save and share wishes</h1> <br>
            <br>
            <h1 style="font-size: 50px"> This is how it works: </h1>
            <h1 style="font-size: 25px">Take a screenshot of the website</h1> <br>
            <h1 style="font-size: 50px">Share your wishes with family and friends </h1>
            <h1 style="font-size: 25px"> With this way, its easier for others to find the right gift for you.</h1>
            <h1 style="font-size: 25px"> Take a screenshot of it</h1> <br>
            <h1 style="font-size: 50px"> Avoid getting the same gift two times
            </h1>
            <h1 style="font-size: 25px">your family and friends have the opportunity to reserve wishes on your wishing list</h1>
        </div>
</div>
</div>

</body>
</html>